<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-header h1">
            Videoteca
        </div>
        <div class="card-body">
            <table>
                <tbody *ngFor="let video of videoteca" id="videos">                  
                    <td width="270">
                        <iframe width="250" height="165" [src]="video.enlace | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>{{video.titulo}}</iframe> 
                    </td>  
                    <td width="250">
                        <p>{{video.titulo}} ({{video.autor}})</p>
                        <p><i *ngIf="fnLogged()" class="fas fa-minus-circle" (click)="eliminarVideo(video.id)">Borrar</i></p>
                        <p><i *ngIf="fnLogged()" class="fas fa-edit" (click)="video.id ? formNuevo.patchValue(video):formNuevo.reset()">Editar</i></p>
                    </td>
                                 
                </tbody>
            </table>
        </div>   
    </div>
    <br>
    <div *ngIf="fnLogged()">
        <div class="card">
            <div class="card-header h2">
                Subir Video
            </div>
            <div class="card-body">
                <p>Para subir un video utilice el enlace que aparece en la opción compartir en el video de youtube</p>   
                <form [formGroup]='formNuevo' (ngSubmit)='insertarVideo()'>
                    <input class="form-control" type="text" placeholder="Titulo" formControlName="titulo">
                    <input class="form-control" type="text" placeholder="Autor" formControlName="autor">
                    <input class="form-control" type="text" placeholder="Enlace" formControlName="enlace">
                    <button type="submit" *ngIf="!formNuevo.value.id; else editar" [disabled]="formNuevo.invalid" class="btn btn-primary">Insertar video</button>
                    
                    <ng-template #editar>
                        <button type="button" class="btn btn-warning" (click)='editarVideo()' [disabled]="formNuevo.invalid">Editar video</button>
                        <button type="button" class="btn btn-dark" (click)='formNuevo.reset()'>Cancelar</button>
                    </ng-template>
                </form>
                
            </div>
        </div>
    </div>
                

    
</body>
</html>
