<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br>

                <h1>Videoteca</h1>
                <table>
                    <thead>
                        <div *ngFor="let video of videoteca" id="videos">
                            <th width="250">
                                <tr>
                                    <td>{{video.titulo}}</td>
                                    <td><i *ngIf="fnLogged()" class="fas fa-minus-circle" (click)="borrarVideo(video.id)">Borrar</i></td>
                                </tr>
                                 
                            </th>
                            
                        </div>
                    </thead>
                    <tbody>
                        <tr>
                            <div *ngFor="let video of videoteca" id="videos">
                                <td><iframe width="250" height="165" [src]="video.enlace | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>{{video.titulo}}</iframe> 
                                </td>
                            </div>
                        </tr>
                    </tbody>
                </table>
                
                <div *ngIf="fnLogged()">
                    <h4>Subir Video</h4>
                    <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="videoNuevo.titulo" placeholder="Titulo">
                        <input class="form-control" type="text" [(ngModel)]="videoNuevo.enlace" placeholder="Enlace">
                        <button class="btn btn-primary" type="button" (click)="insertarVideo()">Subir Video</button>
                    </div>
                </div>
                

    </div>
</body>
</html>
