<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header h1 text-center">
                        Partituras
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt *ngFor="let partitura of partituras"><a href="{{partitura.archivo}}" download>
                                <i class="fa fa-file-pdf"></i>{{partitura.nombre}}</a> &nbsp;
                                <i class="fas fa-minus-circle" (click)="eliminarPartitura(partitura.id)">Borrar</i>
                                <hr>
                            </dt>
                        </dl>
                    </div>
                </div>
                
            </div>
            <div class="col-6">  
                <div class="card">
                    <div class="card-header h1 text-center">
                        Subir Partitura
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="file" (change)='tengoArchivo($event)'>
                            <button class="btn btn-primary" type="button" (click)="subirArchivo()">Subir Partitura</button>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    
    

</body>
</html>
