<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-6">
                <h1>Partituras</h1>
                <ul>
                    <li *ngFor="let partitura of partituras"><a href="{{partitura.archivo}}" download>
                        <i class="fa fa-file-pdf"></i>{{partitura.nombre}}</a></li>
                </ul>
            </div>
            <div class="col-6">  
                <h4>Subir Partitura</h4>
                <div class="input-group">
                    <input class="form-control" type="file" (change)='tengoArchivo($event)'>
                    <button class="btn btn-primary" type="button" (click)="subirArchivo()">Subir Partitura</button>
                </div>
                
            </div>

        </div>
    </div>
    
    

</body>
</html>
