<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header h1 text-center">
                        Partituras
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt *ngFor="let partitura of partituras" ><a href="{{partitura.archivo}}" download>
                                <i class="fa fa-file-pdf"></i>{{partitura.nombre}}</a> &nbsp;
                                <!--<b [(ngModel)]='partitura.id_instrumento' *ngFor="let inst of instrumentos">({{inst.nombre}} {{partitura.voz}})</b> &nbsp;-->
                                <i class="fas fa-trash-alt" (click)="eliminarPartitura(partitura.id)" *ngIf="fnAdmin()">Borrar</i>
                                <hr>
                            </dt>
                        </dl>
                    </div>
                </div>
                
            </div>
            <div class="col-6">  
                <div class="card" *ngIf="fnAdmin()">
                    <div class="card-header h1 text-center">
                        Subir Partitura
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <form>
                                <input class="form-control" type="file" (change)='tengoArchivo($event)'> <br>
                                <select class="form-control">
                                    <option *ngFor='let rol of instrumentos' [value]='rol.id'>{{rol.nombre}}</option>
                                </select>
                                <br>
                                <button class="btn btn-primary" type="button" (click)="subirArchivo()">Subir Partitura</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    
    

</body>
</html>
